<body>
  <h1>Skills</h1>
  <% if(error) { %>
    <h2><%= error %></h2>
  <% } %>
  <ul>
    <% skills.forEach(function(todo) { %>
      <li>
        <%= skill.skill %>
          - 
        <%= skill.competent ? 'competent' : 'incompetent' %>
      </li>
    <% }) %>
  </ul>
</body>

<!-- <ul>
  //<% todos.forEach(function(todo) { %>
    <li>
      //<a href="/todos/<%= todo._id %>"><%= todo.text %></a>
        - 
      //<%= todo.done ? 'done' : 'not done' %>
    </li>
  //<% }) %>
</ul> -->